@import '../../themes/theme.scss';

.backgroundContainertexts{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    // background-color: red;

}

.containerTexts{
    display: flex;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */

    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    @media(max-width: 1057px){
        flex-direction: column;
        align-items: start;
        padding-bottom: 3%;

    }

    @media(max-width: 999px){
        width: 85%;
      
    }

    @media(max-width: 755px){
        padding-bottom: 5%;
    }

    .firstBox{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        height: 300px;
        width: 500px;
        gap: 13px;
        margin-bottom: 8px;
        @media(max-width: 857px){
            width: 350px;
        }
        @media(max-width: 1057px){
            width: 100%;
    
        }

        @media(max-width: 1057px){
        height: 200px;
    
        }

    

        .textCategory{
            font-size: 1.2rem;
            font-weight: 600;
            color: $primary;
           
        }

        .textTitleSection{
            font-size: 2rem;
            color: $text-color-primary;
            width: 100%;
            font-weight: 600;

            @media(max-width: 465px){
                font-size: 1.8rem;
            }
            @media(max-width: 419px){
                font-size: 1.5rem;
            }
            @media(max-width:349px){
                font-size: 1.3rem;
            }
        }
}

        .lastBox{
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            height: 100px;
            width: 550px;
            gap: 20px;
            @media(max-width: 1264px){
                width: 350px;
            }
            @media(max-width: 1057px){
                width: 550px;
            }
            @media(max-width: 603px){
                width: 100%;
            }
    
            .textDescription{
                font-size: 1rem;
                color: $text-color-secondary;
                @media(max-width:626px){
                    font-size: 0.9rem;
                }
            }

            .buttonPlains{
                width: 50%;
                height: 80px;
                text-transform: none;

                @media(max-width: 450px){
                    width: 60%;
                }
                @media(max-width: 375px){
                    width: 70%;
                }
                @media(max-width: 321px){
                    width: 80%;
                }
                .textButton{
                    font-size: 0.9rem;
                    font-weight: 600;

                }

                .iconWhatsapp{
                    margin-right: 10px;
                    width: 20px;
                }
          
        }
        }
}




.containerCards{
    display: flex;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 80px; /* Espaçamento entre as colunas */  
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
 
    @media(max-width: 1076px){
        grid-template-columns: 1fr; /* Uma coluna */
    }
    @media(max-width: 1264px){
        gap: 60px; /* Espaçamento entre as colunas */  
    }
    @media(max-width: 330px){
        padding: 25% 5% 0 5%;
    }


    

}

