.main{
  display: flex;
  flex-direction: column;
}

.backgroundQuality{
  position: relative; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.backgroundPlanSection{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2% 0 5% 0;
}