.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundQuality{
  position: relative; /* Define o posicionamento relativo para que o posicionamento absoluto funcione dentro deste container */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}