@import '../../themes/theme.scss';

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $primary-strong;
    padding: 4rem 1.2rem;

    .content h1 {
        color: $text-color-white;
        margin-bottom: 15px;
    }

    .content p {
        color: $text-color-white;
        margin-bottom: 50px;
    }

    .button {
        font-weight: 700;
        border-radius: 10px;
        height: 40px;
        background-color: $text-color-white;
        color: $text-color-primary;
    }

    .button:hover {
        background-color: $primary-soft;
        color: $text-color-white;
    }
}