@import '../../themes/theme.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .logo {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }


    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-left: 5%;

        .menuItem {
            color: $text-color-white;
            cursor: pointer;
            font-size: 15px;

        }

        .menuItem:hover {
            opacity: 0.7;
        }

        .btnMenu {
            display: none;
            color: $text-color-white;
            cursor: pointer;
        }

        .btnMenu:hover {
            opacity: 0.7;
         }

        @media (max-width: 500px) {
            .btnMenu {
                display: block;
            }
        }
    }

    @media (max-width: 768px) {
        .logo {
            width: 80px;
            height: 80px;
        }

        .menuItem {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
}