@import '../../themes/theme.scss';


.background{
    display: flex;
    flex-direction: column;
    background: radial-gradient(at left top, #4f4f4f, #000000);
    width: 100%;
    padding: 1% 17% 1.5% 17%;
    gap: 45px;
    min-height: 68vh;

    .container{
        display: flex;
        flex: 1;
        .firstSection{
            display: flex;
            flex-direction: column;
            gap: 25px;
            flex: 1;
            .title{
                font-size: 3rem;
                font-weight: 1000;
                color: $text-color-white;
                line-height: 3.5rem;
            }
            .subTitle{
                font-size: 1rem;
                font-weight: 500;
                color: $text-color-white;
            }
            .buttonBox{
                display: flex;
                flex-direction: row;
                gap: 40px;
                box-sizing: border-box;
                .firstButton{
                    box-shadow: none;
                    background-color: $secondary;
                    color: $text-color-white;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 1.2rem;
                    transition: transform 0.4s ease;
                    height: 55px;

                    &:hover{
                        background-color: $text-color-white;
                        color: $primary;
                        transform: translateY(-7px);
                 
                    }
                }
                .lastButton{
                    background-color: none;
                    color: $text-color-white;
                    border-radius: 10px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    border: 2px solid white;
                    height: 56px;
    
                    &:hover{
                        background-color: $text-color-white;
                        color: $primary;
         
                    }
                }
         
            }
        }

        .lastSection{
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            flex: 1;
            padding-top: 20px;
            .imageBox{
                .image{
                    object-fit: contain;

                }
            }
        }
    }

    @media(max-width:1800px){
     
        .container{
            .firstSection{
                .title{
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
            }
        }
       
    }   
    
    @media(max-width: 1563px){
        padding: 2% 10% 3% 10%;
    }

    @media(max-width: 1295px){
        padding: 2% 10% 3% 10%;
        .container{
            min-height: 70vh;
            .firstSection{
                .title{
                    font-size: 2.5rem;
                }
            .buttonBox{
                flex-direction: column;
                width: 60%;
                gap: 20px;
            }
            }
        }
    }


    @media(max-width: 1127px){
        padding: 2% 2% 6% 3%;
        .container .firstSection .buttonBox{
            width: 60%;
        }
    }

    @media(max-width: 1017px){
        padding-bottom: 7%;
        padding-right: 0;
    }

    @media(max-width: 997px){
        padding: 2% 2% 8% 3%;
            .container{
            .firstSection{
                .title{
                    font-size: 2.2rem;
                }
            .buttonBox{
                width: 80%;
            }
            }
            
        }
    }

    @media(max-width: 738px){
        gap: 25px;
        .container{
            flex-direction: column;
            .firstSection{
                width: 80%;
                .title{
                    font-size: 2.3rem;
                }
                .buttonBox{
                    width: 45%;
                    .firstButton{
                        font-size: 1rem;
                    }
                    .lastButton{
                        font-size: 1rem;
                    }
                }
            }
            .lastSection {
                align-items: end;
                .imageBox .image{
                height: 250px !important;
    
              }
            }
            

            
        }
    }

    @media(max-width: 683px){
       .container{
        .firstSection{
            .title{
                font-size: 2.3rem;
            }
        .buttonBox{
            width: 55%;
        }
        }
       }
    }

    @media(max-width: 607px){
        .container{
            min-height: 78vh !important;
        }
    }
    @media(max-width: 569px){
        padding-bottom: 14%;
        .container{
            width: 100%;
            .firstSection{
                .title{
                    font-size: 1.8rem;
                    line-height: 2.6rem;
                }
                .subTitle{
                    font-size: 0.9rem;
                }
                .buttonBox{
                    width: 70%;
                }
            }
            .lastSection {
                .imageBox .image{
                height: 250px !important;
    
              }
            }
        }
    }
    @media(max-width: 431px){
        .container{
            min-height: 72vh !important;
            .firstSection{
                width: 90%;
                .title{
                    font-size: 1.7rem;
                }
            }
            .lastSection {
                justify-content: start;
                padding-top: 110px;
                .imageBox .image{
                height: 190px !important;
    
              }
            }
        }
    }

    @media(max-width: 389px){
        padding-bottom: 15%;
        .container {
            min-height: 0vh !important;
            .firstSection .buttonBox{
                width: 75%;
            }
        }
    }

    @media(max-width: 369px){
        padding-bottom: 16%;
        .container {
            min-height: 0vh !important;
            .firstSection .buttonBox{
                width: 90%;
            }
        }
    }
    @media(max-width: 337px){
        padding-bottom: 12%;
        .container {
            min-height: 0vh !important;
            .firstSection .buttonBox{
                width: 90%;
            }
        }
    }
    @media(max-width: 334px){
        padding-bottom: 21%;
    }
    @media(max-width: 328px){
        padding-bottom: 6%;

    }

    @media(max-height: 600px){
        padding-bottom: 10%;
    }

}