@import '../../themes/theme.scss';


.background{
    display: flex;
    flex-direction: column;
    background: radial-gradient(at left top, #4f4f4f, #000000);
    width: 100%;
    padding: 1% 17% 1.5% 17%;
    gap: 45px;

    .container{
        display: flex;
        flex: 1;
        .firstSection{
            display: flex;
            flex-direction: column;
            gap: 25px;
            flex: 1;
            .title{
                font-size: 3rem;
                font-weight: 1000;
                color: $text-color-white;
                line-height: 3.5rem;
            }
            .subTitle{
                font-size: 1rem;
                font-weight: 500;
                color: $text-color-white;
            }
            .buttonBox{
                display: flex;
                flex-direction: row;
                gap: 40px;
                box-sizing: border-box;
                .firstButton{
                    box-shadow: none;
                    background-color: $secondary;
                    color: $text-color-white;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 1.2rem;
                    transition: transform 0.4s ease;
                    height: 55px;

                    &:hover{
                        background-color: $text-color-white;
                        color: $primary;
                        transform: translateY(-7px);
                 
                    }
                }
                .lastButton{
                    background-color: none;
                    color: $text-color-white;
                    border-radius: 10px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    border: 2px solid white;
                    height: 56px;
    
                    &:hover{
                        background-color: $text-color-white;
                        color: $primary;
         
                    }
                }
         
            }
        }

        .lastSection{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex: 1;
            .imageBox{
                .image{
                    object-fit: contain;
                    margin-top: 65px;
                }
            }
        }
    }

    @media(max-width:1800px){
     
        .container{
            .firstSection{
                .title{
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
            }
        }
       
    }   
    
    @media(max-width: 1563px){
        padding: 2% 10% 3% 10%;
    }

    @media(max-width: 1295px){
        padding: 2% 10% 3% 10%;
        .container{
            .firstSection{
                .title{
                    font-size: 2.5rem;
                }
            .buttonBox{
                flex-direction: column;
                width: 60%;
                gap: 20px;
            }
            }
            .lastSection{
                align-items: end;
                justify-content: end;
                .imageBox .image{
                    margin-top: 130px;
                }
            }
        }
    }


    @media(max-width: 1127px){
        padding: 2% 2% 6% 3%;
        .container .firstSection .buttonBox{
            width: 60%;
        }
    }

    @media(max-width: 1017px){
        padding-bottom: 7%;
        padding-right: 0;
    }

    @media(max-width: 997px){
        padding: 2% 2% 12% 3%;
            .container{
            .firstSection{
                .title{
                    font-size: 2.2rem;
                }
            .buttonBox{
                width: 80%;
            }
            }
            
        }
    }

    @media(max-width: 800px){
        gap: 25px;
        padding-bottom: 5%;
        .container{
            flex-direction: column;
            .firstSection{
                width: 80%;
                .title{
                    font-size: 2.3rem;
                }
                .buttonBox{
                    width: 50%;
                    .firstButton{
                        font-size: 1rem;
                    }
                    .lastButton{
                        font-size: 1rem;
                    }
                }
            }
            .lastSection {
                align-items: end;
                .imageBox{
                    .image{
                        margin-top: -70px;
                        height: 300px !important;
                        width: 400px !important;
                    }
                }
            }
            

            
        }
    }

    @media(max-width: 610px){
        .container .lastSection .imageBox .image{
            margin-top: 5px;
            margin-left: 60px;
        }
    }

    @media(max-width: 683px){
       .container{
        .firstSection{
            .title{
                font-size: 2.3rem;
            }
        .buttonBox{
            width: 55%;
        }
        }
       }
    }

    @media(max-width: 569px){
        padding-bottom: 14%;
        .container{
            width: 100%;
            .firstSection{
                .title{
                    font-size: 1.8rem;
                    line-height: 2.6rem;
                }
                .subTitle{
                    font-size: 0.9rem;
                }
                .buttonBox{
                    width: 75%;
                }
            }
            .lastSection {
                .imageBox .image{
                    margin-top: 70px;
                height: 250px !important;
    
              }
            }
        }
    }
    @media(max-width: 431px){
        padding-bottom: 15.5%;
        .container{
            .firstSection{
                width: 90%;
                .title{
                    font-size: 1.7rem;
                    
                }   
             
            }
            .lastSection {
                justify-content: start;
                .imageBox .image{
                height: 190px !important;
                    width: auto !important;
                    margin-left: 50px;
              }
            }
        }
    }

    @media(max-width: 389px){
        padding-bottom: 19%;
        .container {
            .firstSection .buttonBox{
                width: 78%;
            }
        }
    }

    @media(max-width: 369px){
        padding-bottom: 28%;
        .container {
            .firstSection .buttonBox{
                width: 90%;
            }
        }
    }

}