//$primary: rgb(0, 0, 0);

$primary: #0069ff;
$primary-soft: #1978ff;
$primary-strong: #081b4b;
$secondary: #2bd64e;

$text-color-primary: #081b4b;
$text-color-secondary: #8e92a4;

$text-color-white: #fff;