//$primary: rgb(0, 0, 0);

$primary: #004f40;
$primary-soft: #35af02;
$primary-strong: #004f40;
$secondary: #4ab36d;

$text-color-primary: #2e2e2e;
$text-color-secondary: #8e92a4;

$text-color-white: #fff;