@import '../../themes/theme.scss';

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f6f9ff;
    padding: 70px;

    .carousel {
        display: flex;
        margin-bottom: 30px;
        max-width: 70%;
        gap: 20px;

        .cardImage {
            border-radius: 10px;
            width: 280px;
            height: 560px;
            object-fit: cover;
            overflow-y: auto;
        }
    }

}

.container h3 {
    margin-bottom: 20px;
    color: $primary;
}

.container h1 {
    margin-bottom: 20px;
    color: $text-color-primary;
}