@import '../../themes/theme.scss';


.background{
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    padding: 3% 0 5% 0;

    @media(max-width: 500px){
        padding: 8% 0 10% 0;
    }
    
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    gap: 20px;

    @media(max-width: 1433px){
        width: 70%;
    }
    @media(max-width: 1024px){
        width: 60%;
    }

    @media(max-width: 580px){
        width: 80%;
   
    }
    @media(max-width: 560px){
        width: 60%;
    }
    @media(max-width:356px){
        width: 70%;
    }
    .textCategory{
        color: $primary;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .title{
        color: $text-color-primary;
        font-size: 2.3rem;
        font-weight: 1000;
        text-align: center;
        @media(max-width: 699px){
            font-size: 1.5rem;
        }
    }

    .carousel{
        width: 100%;
        .cardProject{
            padding: 3% 5%;
            height: auto;

        }
        .imagebox{
            object-fit: cover;
            overflow-y: hidden;
            width: 100%;
            @media(max-width: 1200px){
                height: 550px;
            }
            @media(max-width: 1078px){
                height: 500px;
            }


            @mixin imageProject{
                
                object-fit: cover;
                width: 100%; 
                height: auto; 
                top: 0;
                position: relative;
                &:hover {
                    cursor: pointer;
                    transition: all 1s linear;
                }
            }  
            
            .imageProjectConceitoMaximo{
                @include imageProject;
                &:hover {
                    transform: translateY(-4%);
                  }
            }

            .imageHelpSaudeProject{
                @include imageProject;
                &:hover {
                    transform: translateY(-22%);
                    transition: all 2s linear;
                  }
            }
            .imageProjectPbNet{

                @include imageProject;
                &:hover {
                    transform: translateY(-18%);
                    transition: all 2.5s linear;
                  }
            }  
            
            .imageProjectKauePortfolio{
                @include imageProject;
                &:hover {
                    transform: translateY(-17.5%);
                    transition: all 2.5s linear;
                  }
            }
            .imageProjectLuisPortfolio{
                @include imageProject;
                &:hover {
    
                    transform: translateY(-10%);
                   
                  }
            }
            .imageProjectMatheusPortfolio{
                @include imageProject;
                &:hover {
    
                    transform: translateY(-21%);
                    transition: all 2.5s linear;
                   
                  }
            }
          

       
            
        }
          
        }


    }


